.centered{
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    //display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
/* .course-fullpage{
    display: flex;
    flex-direction: column;
} */
.course-course-container{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, 0.15fr);
    grid-template-areas: 'firstRowElement1 input firstRowElement3 firstRowElement4';
    grid-gap: 10px;
    padding-top: 50px;
    //padding-bottom: 100px;
    //border-radius: 50px;


}
.first-row-element-1{
    grid-area: firstRowElement1;
    //position: relative;
    //flex-direction: column;
    background-color: #ca701d;
    //width: 35%;
    height: 40px;
    color: white;
    /* text-align: center;
    vertical-align: middle; */
    //left: 10px;
    //top: 10px;
    border-radius: 10px;

}
.first-row-element-2{
    grid-area: input;
    //position: relative;
    //width: 35%;
    height: 40px;
    //left: 250px;
    //bottom: 30px;
    background-color:#f2f2f2;
    border-width: 1px;
    border-color: black;
    border-radius: 50px;
    text-align: center;
}
.first-row-element-3{
    grid-area: firstRowElement3;
    //position: relative;
    //width: 25%;
    //width: 25%;
    height: 40px;
    //left: 480px;
    //bottom: 70px;
    background-color: #c5425d;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.first-row-element-4{
    grid-area: firstRowElement4;
    //position: relative;
    //width: 25%;
    //width: 25%;
    height: 40px;
    //left: 650px;
    background-color: #e6dcdc;
    border-radius: 10px;
    color: black;
    text-align: center;
}

.course-cover-image{
    position: relative;
    width: 100%;
}
.course-grid{
    /* top: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    justify-self: center;
    position: relative;
    //padding: 50px;
}
.course-left-box1{
    display: grid;
    background-color: #FDE0B2;
    border-radius: 10px;
}
.course-left-box1-header{
    color: blue;
    font-size: large;
    font-weight: bold;
}

.course-left-box2{
    display: grid;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
}

.course-left-bar-form-control1{
    border-radius: 17px;
    background-color: #FDE0B2;
    width: 277px;
    height: 230px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.course-left-bar-form-control2{
    border-radius: 17px;
    background-color: #ECE1E1;
    width: 277px;
    height: 1085px;
    border-width: 2px;
    border-color: black;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.course-middle-container{
    display: flex;
    flex-direction: row;
}

.course-course-leftbar{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1060px){
    .course-course-container{
        padding: 100px;
        position: relative;
        /* left: 20px; */
        right: 20px;
        width: 100%;
        height: 30vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        grid-template-areas: 'firstRowElement1'
                            'input' 'firstRowElement3' 'firstRowElement4';
        grid-gap: 20px;
    
    }
    .course-cover-image{
        display: none;
    }
    .course-grid{
        padding: 100px;
        position: relative;
    }
}

@media only screen and (max-width: 560px){
    .course-course-container{
        padding: 50px;
        position: relative;
        margin-bottom: 100px;
        /* left: 20px; */
        
    
    }
    .course-grid{
        padding: 30px;
        position: relative;
    }
}