.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-container{
    left: 20px;
    right: 20px;
    width: 100%;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-areas: 'first-row-element-1 first-row-element-2 first-row-element-3 first-row-element-4';
    grid-gap: 20px;

}
.first-row-element-1{
    grid-area: first-row-element-1;
    //position: relative;
    //flex-direction: column;
    background-color: #ca701d;
    //width: 35%;
    height: 40px;
    color: white;
    text-align: center;
    vertical-align: middle;
    //left: 10px;
    //top: 10px;
    border-radius: 5px;

}
.first-row-element-2{
    grid-area: first-row-element-2;
    //position: relative;
    //width: 35%;
    height: 40px;
    //left: 250px;
    //bottom: 30px;
    background-color:#f2f2f2;
    border-width: 1px;
    border-color: black;
    border-radius: 50px;
    text-align: center;
}
.first-row-element-3{
    grid-area: first-row-element-3;
    //position: relative;
    //width: 25%;
    //width: 25%;
    height: 40px;
    //left: 480px;
    //bottom: 70px;
    background-color: #c5425d;
    color: white;
    text-align: center;
    border-radius: 5px;
}
.first-row-element-4{
    grid-area: first-row-element-4;
    //position: relative;
    //width: 25%;
    //width: 25%;
    height: 40px;
    //left: 650px;
    background-color: #e6dcdc;
    border-radius: 5px;
    color: black;
    text-align: center;
}

.course-cover-image{
    position: relative;
    width: 100%;
}