.footer-container{
    position: relative;
    //margin-top: auto;
    display: flex;
    flex-direction: row;
    //position: fixed;
    //left: 0;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
}
.footer_logo{
    width: 30%;
    height: 10%;

}